<ng-container *ngIf="isBrowser">
<carousel>
    <slide>
        <img src="assets/images/rock1.jpeg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/rock2.jpeg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/rock3.jpeg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
</ng-container>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Distortion Depot!</h1>
    </div>
</section>