button.nav-link {
  background: #e9ecef;
  border-radius: 0;
  border: none;
  margin: 0 !important;

  &:focus {
    outline: none;
  }

  &.active:hover {
    color: white;
  }

  &:active {
    outline: none;
  }

  &.active:focus {
    outline: none;
  }
  &:disabled:not(.active){
    color: #333
  }
}

button.nav-link:not(.active) {
  background: #e9ecef;
}

.nav-item {
  padding: 0 !important;
}

.d-grid {
    margin: 0 !important;
    padding: 0 !important;
}

ul.nav-justified li.nav-item {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}