.shop-sidebar-heading {
  color: rgb(146, 22, 17); // Set the desired color
}

.shop-reset-button {
  color: rgb(146, 22, 17); // Set the desired text color
  border-color: rgb(146, 22, 17); // Set the desired border color

  &:hover {
    background-color: rgb(146, 22, 17); // Fill with color on hover
    color: #fff; // White text on hover
  }
}
.list-group-item {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;

  &:focus {
    outline: none;
  }

  &.active {
    border-radius: 10px;
  }

  &:not(.active):hover {
    color: #fff;
    background-color: #535151;
    border-radius: 10px;
  }
}


.shop-container {
    padding-left: 30px !important; 
    padding-right: 30px !important;
}
.shop-sidebar{
  padding-left: 30px !important; 
    padding-right: 30px !important;
}